* {
    outline: none;
}
body {
    font-family: 'Droid Sans', sans-serif;
}
ul {
    margin: 16px 10px;
    padding: 0;
}
li {
    margin-bottom: 10px;
}
.editor {
    height: 250px;
}
.heading {
    height: 30px;
    margin: 0;
    padding: 0;
    position: relative;
    cursor: pointer;
}
.heading h3 {
    display: block;
    clear: none;
    float: left;
    width: auto;
    margin: 0;
    padding: 0;
    line-height: 1.1em;
    color: black;
}
li.operations {
    border: 1px solid black;
    list-style: none;
}
.options {
    overflow: hidden;
    padding: 0;
    display: block;
    clear: none;
    margin: 6px 10px 0 0;
    position: absolute;
    top: 0;
    right: 0;
}
.http_method {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 60px;
    font-size: 0.7em;
    text-align: center;
    padding: 6px 0 4px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}
.param_key {
    color: #666666;
    margin-left: 5px;
    font-weight: normal;
    font-style: italic;
}
.param_key:before {
    content: '(';
}
.param_key:after {
    content: ')';
}
.content {
    padding: 10px;
    border-top: 1px solid black;
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
}
.content h4 {
    font-size: 1.1em;
    margin: 0;
    padding: 15px 0 5px;
    font: inherit;
}
.content table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.content table thead tr th {
    padding: 5px;
    font-size: 0.9em;
    color: #666666;
    border-bottom: 1px solid #999999;
}
.content table tbody tr td input,
.content table tbody tr td textarea {
    width: 100%;
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.content table tbody tr td:first-child {
    font-weight: bold;
}
.path {
    padding-left: 5px;
}
.sandbox a {
    padding: 4px 0 0 10px;
    font-size: 0.9em;
    display: none;
}
.hidden {
    display: none;
}
.response pre {
    font-family: "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
    padding: 10px;
    font-size: 0.9em;
    max-height: 400px;
    overflow-y: auto;
    background-color: #fcf6db;
    border: 1px solid #e5e0c6;
}
.empty {
    border-color: red !important;
}
.spinner {
    height: 15px;
    float: right;
    width: 20px;
    position: relative;
}
.spinner > .circle {
    border: 3px solid rgba(255, 255, 255, 0.05);
    border-bottom-color: rgba(255, 255, 255, 0.5);
    -webkit-animation: spinner 2s linear infinite;
    -moz-animation: spinner 2s linear infinite;
    animation: spinner 2s linear infinite;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: 5px;
    margin-top: -2px;
}
@-moz-keyframes spinner {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spinner {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spinner {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*
 * Inputs
 */

input[type=text] {
    border: solid 1px #A9A9A9;
    height: 19px;
    padding-left: 1px !important;
}
input[type=button],
button {
    color: #fff;
    background-color: #979696;
    border: none;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px #686868;
    -ms-box-shadow: 0 5px #686868;
    box-shadow: 0 5px #686868;
    padding: 5px 10px;
    cursor: pointer;
    min-height: 25px;
}
input[type=button]:focus,
button:focus {
    outline: none;
}
input[type=button]:hover,
button:hover {
    background-color: #8B8B8B;
}
input[type=button]:active,
button:active {
    background-color: #8B8B8B;
    -webkit-box-shadow: 0 2px #686868;
    -ms-box-shadow: 0 2px #686868;
    box-shadow: 0 2px #686868;
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
}
input[type=button]:not(:first-child),
button:not(:first-child) {
    margin-left: 5px;
}

input[type=button].warning,
button.warning {
    background-color: #F0AD4E;
    -webkit-box-shadow: 0 5px #AD7B35;
    -ms-box-shadow: 0 5px #AD7B35;
    box-shadow: 0 5px #AD7B35;
}

input[type=button].warning:hover,
button.warning:hover {
    background-color: #D69B48;
}
input[type=button].warning:active,
button.warning:active {
    background-color: #D69B48;
    -webkit-box-shadow: 0 2px #AD7B35;
    -ms-box-shadow: 0 2px #AD7B35;
    box-shadow: 0 2px #AD7B35;
}

input[type=button].danger,
button.danger {
    background-color: #D9534F;
    -webkit-box-shadow: 0 5px #9C3330;
    -ms-box-shadow: 0 5px #9C3330;
    box-shadow: 0 5px #9C3330;
}

input[type=button].danger:hover,
button.danger:hover {
    background-color: #C74642;
}
input[type=button].danger:active,
button.danger:active {
    background-color: #C74642;
    -webkit-box-shadow: 0 2px #9C3330;
    -ms-box-shadow: 0 2px #9C3330;
    box-shadow: 0 2px #9C3330;
}
/*
 * DEFAULT
 */

.operations > .operations {
    background-color: #F1F1F1;
    border-color: #D0D0D0;
}
.operations > .operations:not(.active) {
    -webkit-box-shadow: 0 5px #686868;
    -ms-box-shadow: 0 5px #686868;
    box-shadow: 0 5px #686868;
    cursor: pointer;
}
.operations > .operations.deprecated {
    background-image: linear-gradient(45deg, rgba(255,0,0,1) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(255,0,0,1) 50%, rgba(255,0,0,1) 75%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 100%);
}
.content {
    border-top-color: #D0D0D0;
}
.http_method {
    background-color: #000000;
}
.options {
    color: #000000;
}
.content h4 {
    color: #000000;
}
.sandbox a {
    color: #000000;
}
/*
 * PUT
 */

.put.operations {
    background-color: #e7f0f7;
    border-color: #c3d9ec;
}
.put.operations:not(.active) {
    -webkit-box-shadow: 0 5px #016929;
    -ms-box-shadow: 0 5px #016929;
    box-shadow: 0 5px #016929;
}
.put .content {
    border-top-color: #c3d9ec;
}
.put .http_method {
    background-color: #0f6ab4;
}
.put .options {
    color: #0f6ab4;
}
.put .content h4 {
    color: #0f6ab4;
}
.put .sandbox a {
    color: #6fa5d2;
}
/*
 * POST
 */

.post.operations {
    background-color: #f9f2e9;
    border-color: #f0e0ca;
}
.post.operations:not(.active) {
    -webkit-box-shadow: 0 5px #B6915E;
    -ms-box-shadow: 0 5px #B6915E;
    box-shadow: 0 5px #B6915E;
}
.post .content {
    border-top-color: #f0e0ca;
}
.post .http_method {
    background-color: #c5862b;
}
.post .options {
    color: #c5862b;
}
.post .content h4 {
    color: #c5862b;
}
.post .sandbox a {
    color: #dcb67f;
}
/*
 * GET
 */

.get.operations {
    background-color: #e7f6ec;
    border-color: #c3e8d1;
}
.get.operations:not(.active) {
    -webkit-box-shadow: 0 5px #48a469;
    -ms-box-shadow: 0 5px #48a469;
    box-shadow: 0 5px #48a469;
}
.get .content {
    border-top-color: #c3e8d1;
}
.get .http_method {
    background-color: #10a54a;
}
.get .options {
    color: #10a54a;
}
.get .content h4 {
    color: #10a54a;
}
.get .sandbox a {
    color: #6fc992;
}
/*
 * DELETE
 */

.delete.operations {
    background-color: #f5e8e8;
    border-color: #e8c6c7;
}
.delete .content {
    border-top-color: #e8c6c7;
}
.delete .http_method {
    background-color: #a41e22;
}
.delete .options {
    color: #a41e22;
}
.delete .content h4 {
    color: #a41e22;
}
.delete .sandbox a {
    color: #c8787a;
}