body {
    font-family: 'Droid Sans', sans-serif;
}

ul {
    margin: 16px 10px;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.editor {
    height: 250px;
}

.heading {
    height: 30px;
    margin: 0;
    padding: 0;
    position: relative;
    cursor: pointer;
}

    .heading h3 {
        display: block;
        clear: none;
        float: left;
        width: auto;
        margin: 0;
        padding: 0;
        line-height: 1.1em;
        color: black;
    }

li.operations {
    border: 1px solid black;
    list-style: none;
}

.options {
    overflow: hidden;
    padding: 0;
    display: block;
    clear: none;
    margin: 6px 10px 0 0;
    position: absolute;
    top: 0;
    right: 0;
}

.http_method {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 50px;
    font-size: 0.7em;
    text-align: center;
    padding: 6px 0 4px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.content {
    padding: 10px;
    border-top: 1px solid black;
    /*display: none;*/
}

    .content h4 {
        font-size: 1.1em;
        margin: 0;
        padding: 15px 0 5px;
        font: inherit;
    }

    .content table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px;
    }

        .content table thead tr th {
            padding: 5px;
            font-size: 0.9em;
            color: #666666;
            border-bottom: 1px solid #999999;
        }

        .content table tbody tr td input,
        .content table tbody tr td textarea {
            width: 99.5%;
            margin: 0;
            padding: 0;
        }

        .content table tbody tr td:first-child {
            font-weight: bold;
        }



.sandbox a {
    padding: 4px 0 0 10px;
    font-size: 0.9em;
    display: none;
}

.response {
    display: none;
}

    .response pre {
        font-family: "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
        padding: 10px;
        font-size: 0.9em;
        max-height: 400px;
        overflow-y: auto;
        background-color: #fcf6db;
        border: 1px solid #e5e0c6;
    }

input[type=button] {
    color: #fff;
    background-color: #979696;
    border: none;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px #686868;
    -ms-box-shadow: 0 5px #686868;
    box-shadow: 0 5px #686868;
    padding: 5px 10px;
    cursor: pointer;
}

    input[type=button]:focus {
        outline: none;
    }

    input[type=button]:hover {
        background-color: #8B8B8B;
    }

    input[type=button]:active {
        background-color: #8B8B8B;
        -webkit-box-shadow: 0 2px #686868;
        -ms-box-shadow: 0 2px #686868;
        box-shadow: 0 2px #686868;
        -webkit-transform: translateY(3px);
        -moz-transform: translateY(3px);
        -ms-transform: translateY(3px);
        -o-transform: translateY(3px);
        transform: translateY(3px);
    }


/*
 * GET
 */
.get.operations {
    background-color: #e7f0f7;
    border-color: #c3d9ec;
}

.get .content {
    border-top-color: #c3d9ec;
}

.get .http_method {
    background-color: #0f6ab4;
}

.get .options {
    color: #0f6ab4;
}

.get .content h4 {
    color: #0f6ab4;
}

.get .sandbox a {
    color: #6fa5d2;
}

/*
 * PUT
 */
.put.operations {
    background-color: #f9f2e9;
    border-color: #f0e0ca;
}

.put .content {
    border-top-color: #f0e0ca;
}

.put .http_method {
    background-color: #c5862b;
}

.put .options {
    color: #c5862b;
}

.put .content h4 {
    color: #c5862b;
}

.put .sandbox a {
    color: #dcb67f;
}

/*
 * POST
 */
.post.operations {
    background-color: #e7f6ec;
    border-color: #c3e8d1;
}

.post .content {
    border-top-color: #c3e8d1;
}

.post .http_method {
    background-color: #10a54a;
}

.post .options {
    color: #10a54a;
}

.post .content h4 {
    color: #10a54a;
}

.post .sandbox a {
    color: #6fc992;
}

/*
 * DELETE
 */
.delete.operations {
    background-color: #f5e8e8;
    border-color: #e8c6c7;
}

.delete .content {
    border-top-color: #e8c6c7;
}

.delete .http_method {
    background-color: #a41e22;
}

.delete .options {
    color: #a41e22;
}

.delete .content h4 {
    color: #a41e22;
}

.delete .sandbox a {
    color: #c8787a;
}
